/* stilizzazione generale */
body {
    color: #031b4e;
}

.contenititle {
    color: #031b4e;
    font-size: 35px;
    font-weight: 600;
}

.contenisubtitle {
    color: #5b6987;
    font-size: 20px;
    padding-top: 8px;
    font-weight: lighter;
}

.cardtitle {
    font-size: 17px;
    font-weight: 600;
    padding-top: 10px;
}

.cardsubtitle {
    color: #5b6987;
    font-size: 16px;
    padding-top: 5px;
    font-weight: 300;
}

/* stilizzazione navbar */

.nav-cont {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 9999;
}

.nav-container {
    position: relative;
}

.navbar {
    margin-bottom: 2px;
    position: absolute;
    top: 10px;
}

.navbar-brand img {
    width: 130px;
}

.navbar-default .navbar-nav>li>a>i {
    color: #031b4e;
    font-size: 12px;
}

.nav li a {
    color: #031b4e;
    font-weight: 400;
    font-size: 14px;
}

.nav li a:hover {
    color: #006aff;
}

.navbar-right button {
    border: 1px solid #006aff;
    color: #006aff;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    background-color: inherit;
}

.navbar-right button:hover {
    background-color: #006aff;
    color: #ffffff;
}

.nav-cont {
    border-top: 1px solid lightgrey;
}

/* stilizzazione jumbotron */
.jumbo-cont {
    background-color: #0069ff;
    background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbo-cont-small {
    margin-top: 130px;
    margin-bottom: 130px;
}

.jumbo-cont h1 {
    font-size: 60px;
    font-weight: bolder;
}

.mast-sub {
    font-size: 25px;
    font-weight: lighter;
    padding-top: 15px;
}

.col-card {
    text-align: center;
}

.col-title {
    padding-top: 30px;
}

.card-signup {
    background-color: #ffffff;
    width: 340px;
    border-radius: 5px;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
}

.card-title {
    background-color: #F3F5F9;
    color: #031b4e;
    font-weight: 500;
    line-height: 55px;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
}

.registrazione {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    display: block;
    border-bottom: 1px solid #F0F0F0;
}

.registrazione input {
    width: 290px;
    line-height: 40px;
    margin: 4px;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    padding-left: 15px;
    font-size: 15px;
}

.registrazione button {
    width: 290px;
    font-size: 15px;
    padding: 10px 0;
    margin: 4px;
    font-weight: 500;
    background-color: #006aff;
    border-radius: 5px;
    border: 1px solid #006aff;
}

.btn-card {
    margin: 20px 0 20px 0;
    font-size: 15px;
    padding: 10px 0;
    font-weight: 500;
    background-color: inherit;
    color: #006aff;
    border-radius: 5px;
    border: 1px solid #006aff;
}

.btn-sx {
    width: 240px;
    margin-right: 5px;
}

.btn-dx {
    width: 45px;
}

.btn-card:hover {
    border: 1px solid #000000;
}

.subtitle-card {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 300;
}

/* stilizzazione business */

.business-cont {
    background-color: #F3F5F9;
    text-align: center;
    padding: 60px 0 60px 0;
}

.business-cont p {
    color: #5b6987;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 15px;
}

.link-blue {
    font-size: 15px;
    color: #006aff;
    line-height: 60px;
}

.link-blue:hover {
    color: #1633ff;
    text-decoration: none;
}

/* stilizzazione deploy */

.deploy-cont {
    text-align: center;
    padding: 60px 0 60px 0;
}

.card-small {
    text-align: left;
    padding: 0 10px 20px 0;
}

.coldescription {
    margin-bottom: 50px;
}

.colmenu ul li {
    list-style-type: none;
    text-align: left;
    line-height: 45px;
    font-size: 15px;
    padding-left: 15px;
}

.colmenu ul li:hover {
    cursor: pointer;
}

.colmenu ul li:not(.activemenu) {
    border-left: 2px solid #dfe2e9;
    font-weight: 400;
    color: rgba(3, 27, 78, 0.6);
}

.activemenu {
    border-left: 2px solid #006aff;
    font-weight: 500;
}

@media screen and (max-width: 991px) {
    .collassa {
        display: none;
    }

    .col-title {
        text-align: center;
        padding-top: 0;
        padding-bottom: 40px;
    }

    .card-signup {
        margin: 0 auto;
    }

    .card-small {
        text-align: center;
    }

    .colmenu ul {
        padding: 0 0 20px 0;
    }
    .colmenu ul li {
        display: inline-block;
        padding: 10px;
        margin: 0 -3px 30px -3px;
    }

    .colmenu ul li:not(.activemenu) {
        border-bottom: 2px solid #dfe2e9;
        border-left: 0px;
        font-weight: 400;
        color: rgba(3, 27, 78, 0.6);
    }

    .activemenu {
        border-bottom: 2px solid #006aff;
        border-left: 0px;
        font-weight: 500;
    }
}
